body {
    margin: 0px;
    padding: 0px;
    background-color:#f2f2f2;
     font-family: Raleway;
}

h3 {
    text-align: center;
    
   
    padding: .5rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}



h4 {
    margin-bottom: 1rem;
}

img {
    width: 75px;
    height: 75px;
}

.itemcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.itemprofile {
    display: flex;

}

.itemlabel {
    display: flex;
     flex-direction: column;
     justify-content: center;
     padding: .5rem;
}

.itemprice {
    display: flex;
    flex-direction: column;
    justify-content: center;
}