body {

    color: #4b507a;
    font-family: 'Raleway',
        sans-serif;
    font: 1rem;


}
a {
    text-decoration: none;
}


.background-vanta {
    height: 1000px;
}

.navbar {
   
    padding: 3rem 8rem !important;
  
}

/* .navbar-brand {
    font-size:2rem;
} */

.navbar-dark .navbar-nav .nav-link {
    padding: 0px !important;
    color: rgba(255, 255, 255);
}

.btn-outline-dark {
    color: white;
    border-color: white;
}
.btn-outline-dark:hover {
    color: black;
    background-color: white;
    border-color: #343a40;
}

.introWrapper {
     margin:4rem;
     padding: 4rem 4rem;
    display:flex; 
    justify-content: space-between;  
}

.intro 
{
    width: 60%;
   
}
.introPara {
 font-family: 'Roboto',
 sans-serif;
 font-size: 4rem;
 color:rgb(197, 202, 183);
}

.meshWire {
    width: 500px;
    height: 500px;
    border: 2px solid white;
}

/* underline transition */
a {
    color: #e5d4c4;
    text-decoration: none;
    position: relative
}



.navbar-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 1px;
    width: 100%;
    background: #e5d4c4;
    transition: transform .8s cubic-bezier(.9, 0, .1, 1);
    transition: transform .8s cubic-bezier(.9, 0, .1, 1), -webkit-transform .8s cubic-bezier(.9, 0, .1, 1);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translate3d(0, 0, 0) scaleX(0);
    transform: translate3d(0, 0, 0) scaleX(0)
}

a:hover::after {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translate3d(0, 0, 0) scaleX(1);
    transform: translate3d(0, 0, 0) scaleX(1)
}